body {
    background-image: url(../images/netflixbannerNew.jpg);
    background-size: contain;
    /* color: white; */
    background-repeat: no-repeat;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.shade-baground {
    /* height: 730px; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.586);
}

.logo {
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
}

.login-group {
    margin-right: 70px;
}

.input-group {
    margin-right: 80px;
    margin-top: 20px;
}

.input-group select {
    color: white;
    background-color: rgba(0, 0, 0, 0.601);
    /* background: transparent; */
    margin-right: 30px;
    padding: 5px 5px 5px 5px;
    height: 35px;
    width: 150px;
}

select option {
    font-size: 14px;
}

.input-group .signin button {
    background: red;
    color: #fff;
    width: 80px;
    height: 35px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

section {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
}

.mainhead {
    /* display: flex;
    justify-content: center;
    text-align: left; */
    font-size: 50px;
    font-weight: bold;
}

main button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 40px;
    width: 400px;
    background: rgba(0, 0, 0, 0.492);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

button {
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    /* padding: 20px; */
    border: none;
    background: red;
    color: white;
    font-weight: 600;
}

.getstarted {
    width: 200px;
    /* height: 50px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
}

.container-1 img {
    width: 600px;
    height: 500px;
    float: left;

}

.spacer {
    background-color: rgb(76, 75, 75);
    height: 10px;
}

.banner_1 {
    /* background-color: black; */
    height: 70vh;
    text-align: left;
}

.netflixbanner_2{
    width: 70%;
    height: 70%;
    margin-left: 150px;
}

.tv_img {
    width: 80%;
    height: 80%;
}

.video_1 video {
    width: 82%;
    height: 100%;
    margin-left: 13%;
    margin-top: 15%;
}

.video_2 video {
    width: 70%;
    height: 100%;
    margin-left: 14%;
    margin-top: -26%;
}

/* .video_1 {
    top: 755px;
    right: 96px;
} */

/* .video_1 video {
    width: 81%;
    height: 100%;
} */

/* .video_1 video {
    width: 70%;
    height: 100%;
} */

/* .video_2 {
    top: 1632px;
    right: 27px;
} */

/* .video_2 video {
    width: 55%;
    height: 100%;
} */

.footer{
    height: 40vh;
    background-color: black;
    color: #fff;
}

.card{
    background-color: rgb(45,45,45);
    color: white;
}

.card .card-header{
    background-color: rgb(45,45,45);
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card .card-header:hover{
    background-color: rgb(72, 72, 72);
}

.card .card-body{
    background-color: rgb(45,45,45);
    color: #fff;
}

.list-items{
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
}

.list_item {
    margin-top: 1rem;
    margin-left: 0.75rem;
    color: rgba(255,255,255,0.7);
}

footer .content_inner{
    margin: 0.95rem 0;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
}

.list-items li{
 margin-right: 50px;
 color: rgba(255,255,255,0.7);
 text-decoration: underline;
}

.list-items li a{
    color: rgba(255,255,255,0.7);
}